<div class="auth-container">
  <mat-card class="auth-card">
    <mat-spinner *ngIf="isSpinning"></mat-spinner>
    <mat-card-title class="auth-card-title">Reset password</mat-card-title>
    <mat-card-content>
      <form
        class="auth-form"
        [formGroup]="resetPasswordForm"
        (submit)="onSubmit()"
      >
        <mat-form-field appearance="outline" class="gutter-top">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            [type]="isHidden ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
          />
          <span mat-icon-button matSuffix (click)="isHidden = !isHidden">
            <mat-icon>{{
              isHidden ? "visibility_off" : "visibility"
            }}</mat-icon>
          </span>
          <div
            *ngIf="
              !password.touched ||
              (password.touched &&
                !password.hasError('required') &&
                !password.hasError('pattern'))
            "
            class="hint"
          >
            Use 8 or more characters with a mix of uppercase & lowercase
            letters, numbers & symbols
          </div>
          <mat-error *ngIf="password.touched && password.hasError('required')"
            >Password is required</mat-error
          >
          <mat-error *ngIf="password.hasError('pattern')"
            >Please choose a stronger password</mat-error
          >
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          class="auth-button-submit"
          type="submit"
        >
          Reset password
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions class="auth-card-actions">
      Go back to <a routerLink="/login">Log in</a>
    </mat-card-actions>
  </mat-card>
</div>
