<div class="auth-container">
  <mat-card class="auth-card">
    <mat-spinner *ngIf="isSpinning"></mat-spinner>
    <mat-card-title class="auth-card-title">Forgot password?</mat-card-title>
    <mat-card-content>
      <form
        class="auth-form"
        [formGroup]="forgotPasswordForm"
        (submit)="onSubmit()"
      >
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            placeholder="Email"
            formControlName="email"
          />
          <div
            class="hint"
            *ngIf="
              !email.touched || (email.touched && !email.hasError('required'))
            "
          >
            Submit your account email address and a pasword reset link will be
            sent to you
          </div>
          <mat-error *ngIf="email.touched && email.hasError('required')"
            >Email is required</mat-error
          >
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          class="auth-button-submit"
          type="submit"
        >
          Request password reset
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions class="auth-card-actions">
      Don't have an account? <a routerLink="/register">Register</a>
    </mat-card-actions>
  </mat-card>
</div>
