<div class="auth-container">
  <mat-card class="auth-card">
    <mat-spinner *ngIf="isSpinning"></mat-spinner>
    <mat-card-title class="auth-card-title">Log in</mat-card-title>
    <mat-card-content>
      <form class="auth-form" [formGroup]="loginForm" (submit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="email.touched && email.hasError('required')"
            >Email is required</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline" class="gutter-top">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="isHidden ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="isHidden = !isHidden"
            [attr.aria-label]="'isHidden password'"
            [attr.aria-pressed]="isHidden"
          >
            <mat-icon>{{
              isHidden ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="password.touched && email.hasError('required')"
            >Password is required</mat-error
          >
        </mat-form-field>
        <a routerLink="/register">Forgot password?</a>
        <button
          mat-raised-button
          color="primary"
          class="auth-button-submit"
          type="submit"
        >
          Log in
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions class="auth-card-actions">
      Don't have an account? <a routerLink="/register">Register</a>
    </mat-card-actions>
  </mat-card>
</div>
